body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header'
        'aside main1 main1 aside2'
        'aside main1 main1 aside2'
        'aside main1 main1 aside2'
        'footer footer footer footer';
    grid-template-columns: 1fr;
    gap: 10px;
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: orange;
    color: black;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

h1 {
    margin: 0;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
    background-color: rgb(150, 130, 10);
}
.main1 {
    color: white;
    padding: 40px;
    text-align: center;
    border-radius: 8px;
    background-color: rgb(128, 0, 28);
}

.aside1 {
    color: orange;
    padding: 40px;
    text-align: center;
    border-radius: 8px;
    background-color: rgb(91, 85, 169);
}
.aside {
    color: black;
    padding: 40px;
    text-align: center;
    border-radius: 8px;
    background-color: rgb(0, 87, 128);
    
}


.footer {
    grid-area: footer;
    background-color: magenta;
    color: white;
    padding: 15px;
    text-align: center;
}

.menu-btn {
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    background: #007BFF;
    border-radius: 5px;
}

.nav-links a:hover {
    background: #0056b3;
}

/* Mobilanpassning */
@media (max-width: 767px) {
    .menu-btn {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background: red;
        width: 60%;
        border-radius: 5px;
        padding: 10px;
    }

    .nav-links a {
        display: block;
        padding: 10px;
        text-align: center;
    }

    .nav-links.show {
        display: flex;
    }

    .main {
        display: flex;
        flex-direction: column;
    }
}